# Dépendances
node_modules
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build / cache
.next
out
dist

# Git
.git
.gitignore
.gitlab

# Docker
Dockerfile*
docker-compose*.yml

# Environnements (ne pas embarquer les secrets dans l'image !)
.env*
!.env.example   # sauf le modèle

# Logs
*.log

# OS/editor junk
.DS_Store
*.swp
